* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h3, h5 {
    margin: 0px 0px;
}

.header-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.overlay-open {
    /* display: none; */
    /* visibility: hidden; */
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(100, 100, 100, .8);
    z-index: 2147483647;
    text-align: center;
    transition: 1s;
}

.overlay-close {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(100, 100, 100, .8);
    z-index: 2147483647;
    text-align: center;
    transition: 1s;
}

.overlay-content {
    border: solid;
    border-color: black;
    border-radius: 4px;
    width: 80%;
    height: 50%;
    max-height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
}

.overlay-content-card {
    overflow: auto;
    height: 70%;
    width: 90%;
    margin: 0px auto;
    background-color: rgb(238, 238, 238);
}

.container {
    margin: 10px auto;
    width: 90%;
}

section {
    margin-bottom: 5px;
    text-align: center;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 4px;
}

div {
    
}

.option {
    border: solid;
    border-color: black;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 5px;
}

.blockParent {
    height: 600px;
    text-align: center;
}

.blockA {
    float: left;
    width: 100px;
    height: 100%;
    border: solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgb(234, 234, 234);
}

.blockB {
    height: 100%;
    border: solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}
.blockB::after {
    content: "";
    clear: both;
    display: block;
}

.blockC {
    float: right;
    width: 100px;
    height: 100%;
    border: solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgb(234, 234, 234);
}


.deck {
    width: 80%;
    margin: 10px auto;
    padding-bottom: 5px;

    border: solid;
    border-color: black;
    border-radius: 4px;

    background-color: #fff;
    transition: 1s;
}
.deck:hover {
    background-color: rgb(255, 225, 161);
}

.card_place {
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    margin-top: auto;
    padding: 30px 0;
    background: rgb(60, 60, 60);
    color: #fff;
    text-align: center;
}

.deck hr {
    margin: 5px 5px;
}

.card {
    width: 20%;
}